/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: rgb(46, 48, 50);
}

/* 2. Content ================================= */

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	>form{
		display: flex;
		flex-direction: column;
		max-width: 200px;
		color: white;
		background-color: rgb(148, 143, 137);
		border-radius: 10px;
		padding: 10px;
	}

	p{
		color: rgb(240, 92, 116);
	}

	.checkboxes_div{
		display: flex;
		flex-direction: column;
	}

	.classResults{
		.business-Container{
			text-align: center;
			margin: 20px;
			max-width: 500px;
			background-color: rgb(210, 178, 240);
			padding: 5px;
			border-radius: 10px;

			.business-item{
				margin-bottom:10px ;
				h2{
					color:white;
					font-size: 20px;
				}
				img{
					width:300px;
					height:auto;
					border-radius: 10px;
				}
				.article-date{
					color:aqua;
					font-size: 15px;
				}
				.abstract-container{
					color:rgb(108, 79, 214);
					font-size: 15px;
				}
				a{
					color:rgb(21, 147, 151);

				}
			
			}
		}
	}
	
}
